@charset "utf-8";

// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

$family-sans-serif: 'Montserrat', Arial, sans-serif;

$wasd-background: #fafafa;

$hero-gradient-end: #ff3000;
$hero-gradient-start: #ff8800;
$hero-gradient-tint: #ffbd9e;
$hero-text: #a81f00;

$where-grad-start: #ffbb00;
$where-grad-end: #ce0e00;
$where-text: $hero-text;

// Screen width overrides
$mobile-width: 400px;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: $wasd-background;

$navbar-background-colour: transparent;
$navbar-item-hover-background-color: transparent;

$primary: #ff3000;
$secondary: #ffaf00;

@import '../node_modules/bulma/sass/utilities/_all.sass';

// @import "../node_modules/bulma/sass/utilities/_all.sass";
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/helpers/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/elements/content.sass';
@import '../node_modules/bulma/sass/form/_all.sass';
@import '../node_modules/bulma/sass/grid/columns.sass';
@import '../node_modules/bulma/sass/grid/tiles.sass';
// @import "../node_modules/bulma/sass/components/level.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';

@import '_general';
@import 'section/_navbar';
@import 'section/_hero';
@import 'section/_about';
@import 'section/_event';
@import 'section/_whatson';
@import 'section/_footer';
