.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 0;
  padding: 0 !important;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.mySlides {
  display: none;
}

.slideshow-container img, .slideshow-container svg {
  display: block;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #222;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  user-select: none;
  text-decoration: none;
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: $primary;
}

.slideshow-dots {
  position: absolute;
  bottom: 20px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}