.navbar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  z-index: 5;

  & .navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;

    height: auto;
    padding: 0 1.5rem;

    @media screen and (min-width: $mobile-width) {
      flex-grow: 0;
      height: 60px;
    }
  }
}